<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR !</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body id="play" class="max-auto">
    <canvas>
    </canvas>
    <div>
        <img class="pt-5 freezeframe" src="/public/img/car-removebg-preview.png" alt="" height="200px"/>
    </p>
    <small class="text-white">00:00:00</small>
    <p id="main" class="d-flex justify-content-center">
        <button onclick="main('play')">play</button>
        <button onclick="main('stop')">stop</button>
        </p>
    </div>

    <!-- script -->
    <script src="/public/js/script.js"></script>
</body>
</html>
