<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAR !</title>
</head>
<body>
    <canvas>
    </canvas>
    <img id="left right" src="/public/img/car-removebg-preview.png" alt="" height="150px" style="position: absolute";/>
    <p id="main">
        <button onclick="main('play')">play</button>
        <button onclick="main('stop')">stop</button>
    </p>

    <!-- script -->
    <script src="/public/js/script.js"></script>
</body>
</html>